<div class="navbar fixed-top navbar-expand-sm navbar-light navbar-cashway">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'cashway-logo.jpeg' %>
      Banking
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if customer_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to 'Sair', destroy_customer_session_path, data: { 'turbo-method' => :delete }, class: "nav-link" %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
