<div class="d-flex justify-content-center">
  <div>
    <h1>Olá <%= "#{current_customer.username} - #{current_customer.account}" %>!</h1>
    <p>Mensagem do gerente: <%= current_customer.message %></p>

    <%= link_to 'Sair', destroy_customer_session_path, data: { 'turbo-method' => :delete }, class: "btn btn-danger" %>
  </div>
</div>
