<h2>Cadastro Cliente</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { 'data-turbo': false }) do |f| %>
  <div class="field mt-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
  </div>

  <div class="field my-3">
    <%= f.label :conta %><br />
    <%= f.text_field :account, required: true %>
  </div>

  <div class="field my-3">
    <%= f.label :nome %><br />
    <%= f.text_field :username, required: true %>
  </div>

  <div class="field my-3">
    <%= f.label :mensagem %><br />
    <%= f.text_field :message, required: true %>
  </div>

  <div class="field my-3">
    <%= f.label :senha %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field mb-3">
    <%= f.label :confirmar_senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar", class: 'btn btn-primary' %>
  </div>
<% end %>
