<div class="d-flex justify-content-center">
  <div>
    <% if admin_signed_in? %>
      <h1>Olá!</h1>
      <p>Você deseja cadastrar um novo cliente?</p>
      <%= link_to "Cadastrar cliente", new_customer_registration_path, class: 'btn btn-primary' %>
      <%= link_to "Sair", destroy_admin_session_path, data: { 'turbo-method' => :delete }, class: 'btn btn-danger' %>
    <% else %>
      <h1>Bem vindo!</h1>
      <p>Deseja acessar nossa plataforma administrativa?</p>
      <%= link_to "Login", new_admin_session_path, class: 'btn btn-primary'  %>
    <%end%>
  </div>
</div>
