<div class="d-flex justify-content-center">
  <div>
    <h1>Cliente <%= @customer.username %> cadastrado!</h1>
    <p>Conta: <%= @customer.account %></p>
    <p>Email: <%= @customer.email %></p>
    <p>Mensagem: <%= @customer.message %></p>

    <%= link_to "Cadastrar cliente", new_customer_registration_path, class: "btn btn-primary" %>
    <%= link_to 'Sair', destroy_admin_session_path, data: { 'turbo-method' => :delete }, class: "btn btn-danger" %>
  </div>
</div>
