@import "bootstrap";
@import "components/index";

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: table;
    background-color: #fcf5e7;
}

body {
    display: table-cell;
    vertical-align: middle;
}
form, h2 {
    display: table;
    margin: auto;
}
