.navbar-cashway {
  justify-content: space-between;
  background: white;
  box-shadow: rgb(220, 220, 220) 0px 2px 10px;
}

.navbar-cashway .navbar-collapse {
  flex-grow: 0;
}

.navbar-cashway .navbar-brand img {
  width: 40px;
}
