<h2>Login Cliente</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field mt-4">
    <%= f.label :conta %><br />
    <%= f.text_field :account, autofocus: true %>
  </div>

  <div class="field my-3">
    <%= f.label :senha %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field mb-3">
      <%= f.check_box :remember_me %>
      <%= f.label 'Lembrar-me' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Login", class: 'btn btn-primary' %>
  </div>
<% end %>
